@use "../base/mixins" as m;
@use "../base/variables" as v;

.anime{
   
   margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2rem;
    @include m.tablet { 
        margin-bottom: 0;

    }
    

    &__titulo{
       
    }

   

}

.imagen{
   
   border-radius: 2rem;
   width: 100%
}

.links{
    @include m.boton(red,white);
    border-radius: unset;
    font-size: 1.6rem;
    
    width: 100%;
    
    
    
   
    

    &:hover{
        background-color: rgb(135, 15, 15);
    }
}



